.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#textbox
{
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#area
{
  margin-top: 100px;
  width: 600px;
  border: 1px solid grey;
  padding: 10px;
  font-size: 17px;
  border-radius: 10px;
}
#area:focus
{
  border: 1px solid blue;
}
#area:focus {
  outline: none !important;
  border:1px solid blue;
  box-shadow: 0 0 6px #719ECE;
}
.btn
{
  margin-right: 20px;
  background-color: #037dff;
  color: white;
  border-radius: none;
  /* border: 1px solid black; */
}
.btn:hover
{
  transform: scale(1.1);
  background-color: blue;
  color: white;
}
#uppercase,#lowercase,#capitalize
{
  margin-top: 10px;
}